* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    margin: 8px;
}
#header > h2 {
    margin-top: 0;
}


fieldset {
    border: none;
}
input[type="range"] {
    width: 200px;
}

#canvas-container {
    display: flex;
}
canvas {
    margin-left: auto;
    margin-right: auto;
}